#glavni{
     
   height: 6cm;

    background-color: aqua;
}
#mail{


    margin-left: 44%;
    margin-top: 0.7cm;
    height: 1cm;
  
}
#btn{


background-color: black;
color: white;
height: 1cm;
}